*{
    border-style:border-box;
    margin: 0%;
    padding: 0%;
    color:white;
}
.header{
    width: 100%;
    height: 100px;
    /* background:wheat; */
}
.second-header{
    width: 33vw;
    height: 110px;
    /* background: peru; */
    float: right;
    margin-top: -3%;
}
.input-header{
    background-color: white;
    margin-left:50%;
    margin-top:-7%;
    font-size:20px;
    border-radius:20px;
    color: black;
    box-shadow: 0px 0px 5px #7a7474;
    padding:3px 16px;
    border:2px solid gray;
}
.second-body{
    width: 14%;
    height:610px;
    /* background:silver; */
    float: left;
    padding: 2%;
    border:1px solid rgb(233, 225, 225);
    margin-top: -1px;

}
nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 40%;
    height: 5vh;
}
ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 60%;
}
li{
    list-style: none;
    margin-top: 8%;
}
a{
    text-decoration: none;
    color: black;
    font-size: 20px;
}
.TEACHABLE{
    margin-top: 3%;
    font-size: 30px;
    text-transform: uppercase;
    margin-left:7%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.third-body{
    width:23%;
    height:670px;
    padding:3px;
    /* background-color:yellow; */
    /* border:1px solid rgb(219, 214, 214); */
    float: right;
    margin-right:58.2%;
}   
.compose{
    background-color: green;
    padding: 2% 15%;
    font-size: 17px;
    margin-top: -5%;
    cursor: pointer;
    border: none;
    margin-left:7%;
    border-radius: 4px;
    
}
p{
    color: black;
    margin-left: 6%;
    margin-top: 4%;
    font-size: 22px;
    cursor: pointer;
}
.placeholder{
    margin-top: 3%;
    margin-right: 40%;
    
}
.text-box{
    width:119%;
    border-radius:7px;
    margin-top:0%;
}
.normal{
    width: 109%;
    margin-top: 3%;
    border-radius: 8px;
    padding: 2% 5%;

}
.button{
    padding: 1% 9%;
    border-radius: 7px;
    background-color: green;
    font-size: 17px;
    float: right;
    margin-right: -19%;
    margin-top: 4%;
}
i{
    width: 100px;
    margin-top: 7%;
    font-size: 20px;
    color: black;
    cursor: pointer;

}
.images{
    font-size:7px;
    border-radius:90px;
    width:9%;
    padding: 1% 1%;
    float: right;
    margin-top: -7%;
    margin-right: 15%;
    height: 6vh;
}
.one{
    font-size:15px;
    border-radius:90px;
    width:13%;
    padding: 1% 1%;
    margin-top:1%;
    height:6vh;
}
.two{
    font-size:15px;
    border-radius:90px;
    width:13%;
    padding: 1% 1%;
    margin-top:1%;
    height:6vh;
}
.three{
    font-size:15px;
    border-radius:90px;
    width:13%;
    padding: 1% 1%;
    margin-top:1%;
    height:6vh;
}
.four{
    font-size:15px;
    border-radius:90px;
    width:13%;
    padding: 1% 1%;
    margin-top:1%;
    height:6vh;
}
.five{
    font-size:15px;
    border-radius:90px;
    width:13%;
    padding: 1% 1%;
    margin-top:1%;
    height:6vh;
}
.six{
    font-size:15px;
    border-radius:90px;
    width:13%;
    padding: 1% 1%;
    margin-top:1%;
    height:6vh;
}
.seven{
    font-size:15px;
    border-radius:90px;
    width:13%;
    padding: 1% 1%;
    margin-top:1%;
    height:6vh;
}
.first-body{
    width: 23vw;
    height:80px;
    background:rgba(223, 215, 215, 0.979);
} 
.center-body{
    width: 23vw;
    height:80px;
    background:white;
}
.midde-body{
    width: 23vw;
    height:80px;
    background:white;

}
.fouth-body{
    width: 23vw;
    height:80px;
    background:white;

}
.fifty-body{
    width: 23vw;
    height:80px;
    background:white;

}
.six-body{
    width: 23vw;
    height:80px;
    background:white;

}
.seven-body{
    width: 23vw;
    height:80px;
    background:white;

}
.last-body{
    width:58vw;
    height: 674px;
    /* background-color:whitesmoke; */
    float: right;
    margin-top: -679px;
    border: 1px solid rgb(202, 199, 199);
    padding: 0px;
}
.botton{
    width: 6vw;
    height: 15%;
    border-radius: 15px;
    border: none;
    box-shadow:0px 0px 5px #929292;
    background-color: red;
    margin-left:2%;
    margin-top: 2%;
}
.david-body{
    width: 55vw;
    height:17vh;
    /* background:pink; */
    margin-left:3%;
    border: 1px solid white;
}
.img{
    font-size:15px;
    border-radius:90px;
    width:5%;
    padding: 1% 1%;
    margin-top:3%;
    height:5vh;

}
.background-color{
    width: 49vw;
    height:17vh;
    background-color: #d1c7c7;
    padding: 2% 5%;
    border-radius: 16px;
    margin-left:5%;
}
.touch{
    width: 3%;
    height: 5px;
    background:rgb(137, 137, 223);
    border-radius: 8px;
    margin-top: 7%;
    padding: 2% 4px;
}
.tall{
    width: 3%;
    height: 5px;
    background: rgb(228, 97, 97);
    border-radius: 8px;
    margin-top: 12%;
    padding: 2% 4px;

}